body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.callback-form label {
  display: block;
  margin-bottom: 10px;
}

.callback-form input[type="text"],
.callback-form input[type="tel"],
.callback-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.callback-form textarea {
  height: 100px;
}

 button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

 button:hover {
  background-color: #0056b3;
}

a{
  text-decoration: none;
  color: black;
}
a h1{
  text-align: left;
}